.active {
  border-bottom: 3px solid red;
  color: red !important;
}

.header-nav {
  min-height: 100px;
  background-color: #48dbd1;
}

.material-icons {
  margin: 4px 0px 0px 0px;
}

.fav {
  margin: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f5f7f8;
  margin: 10px 0;
  border-radius: 4px;
}

.alert-quote {
  border-color: #eaeaea;
  text-align: center;
  padding: 20px;
  background-color: #f5f7f8;
  margin: 10px 0;
  border-radius: 4px;
}